
      <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="about.html">About Me</a></li>
          <li><a href="skills.html">Skills</a></li>
          <li><a href="projects.html">Projects</a></li>
            <li><a href="projects.html">Get in Touch</a></li>
          <li class="dropdown"><a href="#"><span>Experience</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Working</a></li>
                  <li><a href="#">Education</a></li>    
        </ul>
      </nav>

    </div>
  </header>
  </body>
  </html>
